  <div>
    <section>
      <div class="wrapper" FxFlexLayout="row">
        <div FxFlexLayout="column">
          <div FxFlexLayout="row">
            <h1>All your shirt consuming needs in one place</h1>
            <p>Use our powerfull schedueling system to upgrade your SLA's to the max.</p>
          </div>
          <button mat-raised-button (click)='goToForm()'>Order Some Shirts</button>
        </div>
        <img src="https://themesbrand.com/zooki/layouts/images/home-2-img.png">
      </div>
    </section>
  </div>
  <div class="allrights">
    <h4>Created By Jonathan Atia, Noam Amron, Almog Kandalker | all rights reserved &copy;</h4>
  </div>
