table, mat-paginator {
  width: 80%;
  margin-left: 5rem;
}

.trady {
  color: red;
}

.early {
  color: green;
}


mat-card-content div {
  padding: 1.2rem;
  background-color: black;
  color: white;
  height: 2.5rem;
  /* width: 10rem; */
}

mat-card-content div mat-icon {
  margin: -0.5rem;
  margin-left: 0.5rem;
}

mat-card-content h1 {
  padding: 1.2rem;
  background-color: black;
  color: white; text-align: center;
}

.diff {
  width: 12.3rem;
}
