<!-- *ngIf="sum('cost', queue) !== 0" -->
<div >
  <mat-card>
    <mat-card-content class="mat-elevation-z8">
      <h1 >First in first out (F.I.F.O) Schdueling</h1>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <section fxLayoutAlign="row" fxLayoutGap="10px">
      <mat-card-content class="mat-elevation-z8">
        <div> &Sigma; cost: {{ sum('cost', queue) }} ₪</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div>Avg cost: {{ (sumAvg('cost', queue) > 0 ? sumAvg('cost', queue) : 0) | number: '.2' }} ₪</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div> &Sigma; lateness: {{ sum('daysLate', queue) }} days</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div> &Sigma; Late Jobs: {{ sumLateJobs() }}</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div>Max Lateness: {{ (maxLateness() === 1 ? maxLateness() + ' day' : maxLateness(queue) + ' days') }}</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div>Max Satisfaction: {{ maxSatisfaction(queue) }}</div>
      </mat-card-content>
      <mat-card-content class="mat-elevation-z8">
        <div>Min Satisfaction: {{ minSatisfaction(queue) }}</div>
      </mat-card-content>
    </section>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="orderId">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{ element.barcode }} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{ element.customer }} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> shirt Type </th>
          <td mat-cell *matCellDef="let element"> {{ element.shirtType }} </td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{ element.qty | number }} </td>
        </ng-container>

        <ng-container matColumnDef="dd">
          <th mat-header-cell *matHeaderCellDef> Due Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.desiredDeliveryDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="fd">
          <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.forecastDeliveryDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="tardiness">
          <th mat-header-cell *matHeaderCellDef> Tardiness </th>
          <td mat-cell *matCellDef="let element" [style.color]="(element.isLate ? 'red' : 'green')"> {{ element.daysEarly > 0 ? element.daysEarly : element.daysLate }} days {{ element.daysEarly > 0 ? 'early' : 'late'}}</td>
        </ng-container>

        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef> Vendor </th>
          <td mat-cell *matCellDef="let element"> {{ element.vendor }} </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{ element.cost }} ₪ </td>
        </ng-container>

        <ng-container matColumnDef="satisfaction">
          <th mat-header-cell *matHeaderCellDef> Satisfaction </th>
          <td mat-cell *matCellDef="let element"> {{ element.satisfaction }}  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [length]="this.queue.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, this.queue.length]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="sum('cost', queue) === 0" style="margin-left:30rem; margin-top: 20rem; width: 40%">
  <mat-card-content class="mat-elevation-z8">
    <h1 style="text-align: center;">No orders yet...</h1>
  </mat-card-content>
