<div class="conatiner">
  <div class="row">
    <div class="col-xs12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
            <label for="ShirtType">Shirt Type</label>
            <select
              id="ShirtType"
              class="form-control"
              name="ShirtType"
              required
              ngModel
              #ShirtType="ngModel"
            >
            <option *ngFor="let type of types" value="type">{{ type }}</option>
          </select>
         </div>
         <div class="form-group">
           <label for="">Quantity</label>
           <input
           type="number"
           min=0
           id="qty"
           name="qty"
           ngModel
           #qty="ngModel"
           class="form-control"
           required
           >
         </div>
         <div class="form-group">
          <label for="BodyColor">Body Color</label>
          <select
            id="BodyColor"
            class="form-control"
            name="BodyColor"
            #BodyColor="ngModel"
            ngModel
            required
          >
          <option *ngFor="let bcolor of bodyColor" value="bcolor">{{ bcolor }}</option>
        </select>
       </div>
         <div class="form-group">
          <label for="SleeveColor">Sleeve Color</label>
          <select
            id="SleeveColor"
            class="form-control"
            name="SleeveColor"
            #sleeveColor="ngModel"
            ngModel
            required
          >
          <option *ngFor="let scolor of SleeveColor" value="scolor">{{ scolor }}</option>
        </select>
       </div>
         <div class="form-group">
          <label for="extraFeatures">Extra Features</label>
          <select
            id="extraFeatures"
            class="form-control"
            name="extraFeatures"
            #extraFeatures="ngModel"
            ngModel
            required
          >
          <option *ngFor="let extra of extras" value="extra">{{ extra }}</option>
        </select>
       </div>
         <div class="form-group">
          <label for="preferences">Preferences</label>
          <select
            id="preferences"
            class="form-control"
            name="preferences"
             #extraFeatures="ngModel"
            ngModel
            required
          >
          <option *ngFor="let preference of preferences" value="preference">{{ preference }}</option>
        </select>
       </div>
       <div class="form-group">
         <label for="date">Delivery Date</label><br>
         <input
         class="date"
          type="date"
          id="date"
          name="date"
          #date="ngModel"
          ngModel
          required
          >
       </div>
       <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid"
       >Submit Order</button
        >
      </form>
    </div>
  </div>
</div>
