<mat-tab-group>
  <mat-tab label="Place a new order">
    <app-form fxFlex fxLayoutAlign="center"></app-form>
  </mat-tab>
  <mat-tab label="Fifo">
    <!-- <app-fifo fxFlex fxLayoutAlign="center"></app-fifo> -->
  </mat-tab>
  <mat-tab label="E.D.D">

  </mat-tab>
  <mat-tab label="Jackson">

  </mat-tab>
  <mat-tab label="Hodegsone/Moor">

  </mat-tab>
</mat-tab-group>
