<section class="signup-form">
      <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="0.5rem"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Name"
            ngModel
            name="userName"
            required>
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Company Name"
            ngModel
            name="companyName"
            required>
        </mat-form-field>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="email"
            ngModel
            name="email"
            required
            email
            #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">E-mail is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            ngModel
            name="password"
            required
            minlength="6"
            #pwdInput>
            <mat-hint align="end">Your password length {{ pwdInput.value?.length }} / 6</mat-hint>
            <mat-error>Password has to be 6 characters long</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Sign Up</button>
      </form>
</section>
