<mat-toolbar color="primary">
  <div><button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  </div>
  <div class="logo"><a>uShirts</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="2rem" class="navigation_items">
      <li><a routerLink="/form">Orders Form</a></li>
      <li><a routerLink="/fifo">Fifo</a></li>
      <li><a routerLink="/edd">Edd</a></li>
      <li><a routerLink="/hm">Hodgeson-Moor</a></li>
    </ul>
  </div>
</mat-toolbar>
