button {
  width: 30%;
  text-align: center;
  margin-top: 0;
}

.dtpckr {
  width: 70% !important;
  margin-right: 4rem;
}

mat-card-content {
  padding: 1rem;
}

mat-card {
  margin: 5rem;
  margin-left: 20rem;
  width: 50%;
}

mat-toolbar {
  color: white;
  /* background-color: #3F51B5; */
  background-color: black;
  padding-left: 3rem;
  font-size: 1.5rem;
  width: 104.3%;
  margin: -1rem !important;
  margin-bottom: 2rem !important;
}

button {
  color: white;
  background-color: black;
}

mat-icon {
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}
