<mat-card>
    <mat-toolbar>Orders Form <mat-icon>file_copy</mat-icon></mat-toolbar>
  <mat-card-content>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div fxFlex fxLayout="column" fxLayoutGap="30px">
        <div fxFlex fxLayout="row" fxLayoutGap="50px">
          <section fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="form-group">
              <mat-form-field>
                <mat-label for="shirtType">Shirt Type</mat-label>
                <mat-select id="shirtType" formControlName="shirtTypeInput" >
                  <mat-option  *ngFor="let type of shirtType"  [value]="type.type" >{{ type.type }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label for="bodyColor">Shirt Color</mat-label>
                <mat-select id="bodyColor" formControlName="shirtBodyColorInput" >
                  <mat-option  *ngFor="let bcolor of bodyColor" [value]="bcolor.color">{{ bcolor.color }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label for="sleeveColor">Sleeve Color</mat-label>
                <mat-select id="sleeveColor" formControlName="sleevesColorInput" >
                <mat-option *ngFor="let scolor of sleeveColors" [value]="scolor.color">{{ scolor.color }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>
          <section fxFlex fxLayout="column" fxLayoutGap="20px">
          <div class="form-group">
            <mat-form-field>
              <mat-label for="qty">Quantity</mat-label>
                <input
                  matInput
                  type="number"
                  min="1"
                  max="15000"
                  placeholder="Order quantity"
                  formControlName="orderQuantityInput"
                  name="qty"
                  id="qty"
                >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="perferences">Preferences</mat-label>
              <mat-select id="perferences" formControlName="preferencesInput" >
                <mat-option *ngFor="let preference of perferences" [value]="preference.description">{{ preference.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="extras">Extras</mat-label>
              <mat-select multiple id="extras" formControlName="extraFeaturesInput" >
                <mat-option *ngFor="let extra of extras" [value]="extra.name">{{ extra.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         </section>
         <section fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="form-group">
              <mat-form-field>
                <mat-label for="deliveryRange">Delivery Range</mat-label>
                <mat-select id="deliveryRange"formControlName="deliveryRangeInput" >
                  <mat-option  *ngFor="let range of deliveryRange" [value]="range.quarter">{{ range.quarter }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="dtpckr">
                <input
                  matInput
                  placeholder="Delivery Date"
                  [matDatepicker]='picker'
                  formControlName="deliveryDateInput"
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepickerFilter]="dateFilter"
                  md-mode="month"
                  disabled
                  >
                <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false" startView="year" [startAt]="minDate"></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="Customer Name"
                formControlName="customerNameInput"
                type="text">
              </mat-form-field>
            </div>
          </section>
        </div>
        <div fxFlex fxLayoutAlign="end">
            <button
          class="formBtn"
          mat-raised-button
          type="submit"
        >Place Order</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
