/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html, body { height: 100%; }
body {
  margin: 0; /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}
