
<mat-card>
  <mat-card-content>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" #f>
      <div fxFlex fxLayout="column" fxLayoutGap="30px">
        <div fxFlex fxLayout="row" fxLayoutGap="50px">
          <section fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="form-group">
              <mat-form-field>
                <mat-label for="shirtType">Shirt Type</mat-label>
                <mat-select
                  id="shirtType"
                  formControlName="shirtTypeInput"
                  >
                  <mat-option *ngFor="let type of shirtType | async"  [value]="type.name">{{ type.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label for="bodyColor">Shirt Color</mat-label>
                <mat-select
                  id="bodyColor"
                  formControlName="shirtBodyColorInput"
                  >
                  <mat-option *ngFor="let bcolor of bodyColor | async" [value]="bcolor.name">{{ bcolor.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label for="sleeveColor">Sleeve Color</mat-label>
                <mat-select
                  id="sleeveColor"
                  formControlName="sleevesColorInput"
                  [disabled]="orderForm.get('shirtTypeInput').value !== 'American T-Shirt'"
                  >
                  <mat-option *ngFor="let scolor of sleeveColors | async" [value]="scolor.name">{{ scolor.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>
          <section fxFlex fxLayout="column" fxLayoutGap="20px">
          <div class="form-group">
            <mat-form-field>
              <mat-label for="qty">Quantity</mat-label>
                <input
                  matInput
                  type="number"
                  min="0"
                  placeholder="Order quantity"
                  formControlName="orderQuantityInput"
                  name="qty"
                  id="qty"
                >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="perferences">Preferences</mat-label>
              <mat-select
                id="perferences"
                formControlName="preferencesInput"
                >
                <mat-option *ngFor="let preference of perferences | async" [value]="preference.name">{{ preference.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="extras">Extras</mat-label>
              <mat-select
                multiple
                id="extras"
                formControlName="extraFeaturesInput"
                >
                <mat-option
                  *ngFor="let extra of (orderForm.get('shirtTypeInput').value === 'Dress Shirt' ? (extras | async) : (extras1 | async))"
                  [value]="extra.name">{{ extra.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         </section>
         <section fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="form-group">
              <mat-form-field>
                <mat-label for="deliveryRange">Delivery Range</mat-label>
                <mat-select
                  [(value)]="dateRange"
                  (change)="changeDateRange($event.target.value)"
                  id="deliveryRange"
                  formControlName="deliveryRangeInput"
                  >
                  <mat-option *ngFor="let range of deliveryRange" [value]="range">{{ range }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="dtpckr">
                <input
                  matInput
                  placeholder="Delivery Date"
                  [matDatepicker]='picker'
                  formControlName="deliveryDateInput"
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepickerFilter]="dateFilter"
                  md-mode="month"
                  disabled

                  >
                <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false" startView="year" [startAt]="minDate"></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="customerName"
                formControlName="customerName"
                type="text">
              </mat-form-field>
            </div>
          </section>
        </div>
        <div fxFlex fxLayoutAlign="end">
          <button
          class="formBtn"
          mat-raised-button
          color="primary"
          type="submit"
        >Place Order</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
