<p>orders-form works! (template driven)</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
              #name="ngModel"
              min="8"
            >
            <span *ngIf="!name.valid && name.touched" class="help-block">Please enter a user name !</span>
            <span *ngIf="name.touched && (name.value?.length < 8 && name.value?.length > 0)" class="help-block">User name must be at least 8 characters long !</span>
            <span class="help-block"> {{ name.value?.length }}/8</span>
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            >
            <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email !</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid !</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
            required
            #secret="ngModel"
          >
          <span *ngIf="!secret.valid && secret.touched" class="help-block">Please select a secret question !</span>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            [(ngModel)]="answer"
            ></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label for="gender">
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            >{{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid"
        >Submit</button>
      </form>
      <hr>
      <div *ngIf="submitted" class="row">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.username}} </p>
          <p>Mail: {{ user.email }}</p>
          <p>Secret Question: Your first {{ user.secretQuestion }}</p>
          <p>Answer: {{ user.answer }}</p>
          <p>Gender: {{ user.gender }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
