<mat-card>
  <section fxLayoutAlign="row" fxLayoutGap="10px">
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total cost Fifo: {{ '' }} ₪</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total cost Edd: {{ '' }} ₪</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total lateness Fifo: {{ '' }} days</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total lateness Edd: {{ '' }} days</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total Late Jobs Fifo: {{ '' }}</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Total Late Jobs: {{ '' }}</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Max Lateness Fifo: {{ ''  }}</div>
    </mat-card-content>
    <mat-card-content class="mat-elevation-z8">
      <div style="padding: 1.2rem; background-color: darkslateblue; color: white;">Max Lateness: {{ (maxLateness() === 1 ? maxLateness() + ' day' : maxLateness() + ' days') }}</div>
    </mat-card-content>
  </section>
</mat-card>
