<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Temperatuers</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <div><span *ngIf="counter > 10" class="widget">{{ counter }}</span></div>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <img *ngIf="!hasError" [src] = "image" alt = "weather icon">
  <mat-card-content>
    <p *ngIf="!hasError">
      <!-- The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting. -->
      the current temperature in <span>{{ city }}</span> is <span>{{ temperatue | number: '1.0-0' }} </span> &#8451;
    </p>
    <h3 *ngIf="hasError"> (<span style="color: grey; font-family:consolas">{{ errorCode }} </span>| <span style="color: grey; font-family:consolas">{{ errorMessage }}</span> )</h3>
    <a routerLink="/tempForm">Update temperatue</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onClickLike()">LIKE {{ counter != 0 ? counter  : '' }}</button>
    <button mat-button >SHARE</button>
  </mat-card-actions>
</mat-card>
