  <section class="welcome" fxLayout="column" fxFlexAlign="center center">
    <h1 class="header-item">www.uShirts.com</h1>
    <p>Based on various algorithms, we aim to please our customers</p>
  </section>
