mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav
 {
   width: 250px;
 }

a {
  text-decoration: none;
  color: white;
  /* margin: 1rem; */
}

a:hover,
a:active {
  color: lightgray;
}

.navigation_items {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-list-item:hover,
mat-list-item:active,
mat-nav-list a:hover,
mat-nav-list a:active {
  color: white !important;
  background: royalblue !important;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.b {
  padding-left: 6px;
}
