
.addbook, .delete, .edit {
  margin: 1em;
  border: #620cc4 1px solid;
  color: white;
  background: #620cc4;
}

.addbook:hover,
.addbook:active,
.edit:hover,
.edit:active,
.delete:hover,
.delete:active {
  color: #620cc4;
  background: white;
}

.p {
  cursor: pointer;
}
