<p *ngIf="!(books$ | async)">Loading...</p>
<div>
  <button class="btn addbook" type="button" routerLink="/add-books">Add a Book</button>
</div>
<mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  *ngFor="let book of books$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>{{ book.title }}</p>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Author: {{ book.author }}</p>
    <a [routerLink]="['/edit-books', book.title, book.author, book.key, 'edit']" class="btn btn-primary edit"> edit book </a>
    <a class="btn btn-danger delete" (click)=deleteBook(book.key)>delete book</a>
  </mat-expansion-panel>
</mat-accordion>
