<mat-card>
  <h1>Add Book</h1>
  <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Book title" [(ngModel)] = "book"
                         name = "book"
                        #newBook
                         type = "text"
                         >
        <mat-error *ngIf="!(newBook.valid || newBook.pristine)">
          Title is required
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Book Author" [(ngModel)] = "author"
                         name = "author"
                         type = "text"
                         #newAuthor>
        <mat-error *ngIf="!(newAuthor.valid || newAuthor.pristine)">
          Author is required
        </mat-error>
      </mat-form-field>
      <div >
          <button mat-raised-button color="primary" [disabled]="!bookForm.valid">Submit</button>
      </div>
    </div>
  </form>
  </mat-card>

