<mat-toolbar color="primary">
  <div><button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  </div>
  <div class="logo"><a routerLink="/">uShirts</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="2rem" class="navigation_items">
      <!-- <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Log In</a></li> -->
      <li><a routerLink="/orders">Place an Order</a></li>
    </ul>
  </div>
</mat-toolbar>
