mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav
 {
   width: 250px;
 }

a {
  text-decoration: none;
  color: white;
  /* margin: 1rem; */
}

/* a:hover,
a:active {
  color: lightgray;
} */

.navigation_items {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-list-item:hover,
mat-list-item:active,
mat-nav-list a:hover,
mat-nav-list a:active {
  color: white !important;
  /* background: #3F51B5!important; */
  background: black!important;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.b {
  padding-left: 6px;
}

.logo {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

li {
  border-bottom: solid 5px black;
  /* border-bottom: solid 5px #3F51B5; */
  padding-bottom: 1rem;
  margin-bottom: -0.7rem;
}

li:hover {
  border-bottom: solid 5px white;
  /* border-bottom: solid 5px black; */
}

a {
  padding: 2rem;
}

mat-toolbar {
  background-color: black;
}

mat-icon {
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}
